.main{
	display: grid;
	grid-template-areas: 
				"header header"
				"container container"
				"container container"
				"footer footer"
}
.header{
	grid-area: header;
	height: 10vh;
	background: #333;
	color: white;
}

.container{
	grid-area: container;
    min-height: 80vh;
    background-image: url("https://images2.alphacoders.com/509/thumb-1920-509099.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.footer{
	grid-area: footer;
	height: 10vh;
	background: #444;
}