

<div class="about">
	<h3>THE ICONIC SHERLOCK HOLMES</h3>
	<div class="holmes">
		<div 
		class="img" >
		<img src="https://i.pinimg.com/originals/eb/7d/16/eb7d16cbdeb464f3fbd726dec6b95818.jpg">

		</div>
		<div class="description">
			<p>
				Sherlock Holmes  is a fictional private detective created by British author Sir Arthur Conan Doyle. Referring to himself as a "consulting detective" in the stories, Holmes is known for his proficiency with observation, deduction, forensic science, and logical reasoning that borders on the fantastic, which he employs when investigating cases for a wide variety of clients, including Scotland Yard.
			</p><br>
			<p>
				First appearing in print in 1887's A Study in Scarlet, the character's popularity became widespread with the first series of short stories in The Strand Magazine, beginning with "A Scandal in Bohemia" in 1891; additional tales appeared from then until 1927, eventually totalling four novels and 56 short stories. All but one are set in the Victorian or Edwardian eras, between about 1880 and 1914. Most are narrated by the character of Holmes's friend and biographer Dr. John H. Watson, who usually accompanies Holmes during his investigations and often shares quarters with him at the address of 221B Baker Street, London.
			</p>
		</div>
	</div>

	<h3>SHERLOCK (2010-2017) - BBC</h3>

	<div class="sherlock">

		<div class="description">
			<p>
				Sherlock is a British crime television series based on Sir Arthur Conan Doyle's Sherlock Holmes detective stories. Created by Steven Moffat and Mark Gatiss, it stars Benedict Cumberbatch as Sherlock Holmes and Martin Freeman as Doctor John Watson. 13 episodes have been produced, with four three-part series airing from 2010 to 2017, and a special episode that aired on 1 January 2016. 
			</p><br>
			<p>
				The series is set in the present day, while the one-off special features a Victorian period fantasy resembling the original Holmes stories. Sherlock is produced by the British network BBC, along with Hartswood Films, with Moffat, Gatiss, Sue Vertue and Rebecca Eaton serving as executive producers.Sherlock has been praised for the quality of its writing, acting, and direction. It has been nominated for numerous awards including Emmys, BAFTAs and a Golden Globe, winning several awards across a variety of categories.In 2019, Sherlock was ranked 60th on The Guardian's list of the 100 best TV shows of the 21st century.
			</p>
		</div>

				<div 
		class="img" >
		<img src="https://ichef.bbci.co.uk/images/ic/624x351/p07vsqbs.jpg">

		</div>
	</div>

</div>
