.navbar h3{
	display: inline;
	float: left;
	padding: 3vh;
}
.nav-brand{
	position: absolute;
	left: 5%;
	color: #0f52da;
	font-size: 2rem;
	font-family: "Segoe Print" ;
}
.active{
	font-weight: bold;
	font-size: 20px;
}
.navbar ul{
	position: absolute;
	right: 0;
	padding: 20px;
	list-style: none;
}
.responsive{
	visibility: hidden;
}
.navbar-nav{	
	position: fixed;
	right: 0;
	width: 50%;
	top: 6vh;
	padding: 20px;
	background: #333;
	opacity: .8;
	list-style: none;
	z-index: 1;
}
.nav-item{	
	margin-top: 3vh;
}
a{
	color: white;
	padding: 7px;
	text-decoration: none;	
	font-size: 17px;
}

.nav-icon{
	position: absolute;
	top: 2vh;
	right: 5vw;
	border: none;
	outline: none;
	background: transparent;	
	z-index: 1;
}
.ham{
	margin-top: 3px;
	right: 5px;
	top: 4vh;
	width: 25px;
	height: 5px;
	background: white;
}


@media (min-width: 1000px){
	.navbar-nav{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: auto;
		padding: 20px;
		opacity: 1;
		list-style: none;
	}
	.nav-item{
		float: left;
		margin-left: 3vw;
		margin-top: 0;
	}
	.nav-icon{
		visibility: hidden;
	}
	.responsive{
		visibility: visible;
	}
	.active{
	background: #555;
	padding: 7px;
	font-weight: normal;
	font-size: 17px;
	}
}